.users__list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .users__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .users__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .users__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
