.users__list-item {
  padding: 30px 10px 15px;
  background: #bb9457;
  border: 1px solid #99582a;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  transform: scale(1);
  transition: transform 0.25s ease-out;
  white-space: normal;
  margin: 0 auto;
  width: 250px;
}

.users__list-item:hover {
  transform: scale(1.05);
}

.users__img {
  display: inline-block;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1400px) {
  .users__list-item {
    width: 200px;
  }
}
